* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

/* NAVBAR */
header {
    background: #111;
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 26px;
    font-weight: bold;
    color: white;
}
.logo span {
    color: #00aaff;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

/* MOBILE MENU */
.menu-btn {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 28px;
}

/* HERO */
.hero {
    height: 93vh;
    background: linear-gradient(to right, #000, #222);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.hero-text {
    max-width: 600px;
    text-align: center;
}

.hero-text h1 {
    font-size: 40px;
}
.hero-text span {
    color: #00aaff;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background: #00aaff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.btn:hover {
    background: #10adf0;
    transition: 0.3s;
}

/* SECTION */
.section {
    padding: 60px 0;
    text-align: center;
}

.section-title {
    font-size: 28px;
    margin-bottom: 30px;
}

/* SKILLS */
.skills-grid {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 15px;
}

.skill-card {
    background: white;
    padding: 14px;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.skill-card:hover {
    background: #00aaff;
    color: white;
    transform: scale(1.05);
    transition: 0.2s;
}
/* PROJECTS */
.project-grid {
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 10px;
}

.project-card {
    background: rgb(115, 114, 114);
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.project-card:hover {
    background: #97bfd2;
    color: white;
    transform: scale(1.05);
    transition: 0.2s;
}
/* EDUCATION */
.edu-box {
    width: 80%;
    margin: auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    line-height: 1.7;
}

/* CONTACT */
.contact-container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.contact-container form {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-container input,
.contact-container textarea {
    padding: 12px;
    border-radius: 5px;
    border: 1px solid gray;
}

.contact-info {
    width: 40%;
    text-align: left;
    line-height: 1.8;
}

/* FOOTER */
footer {
    background: #111;
    padding: 15px;
    color: white;
    text-align: center;
}

/* RESPONSIVE */
@media(max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background: #222;
        padding: 20px;
        position: absolute;
        right: 20px;
        top: 60px;
        border-radius: 10px;
    }
    .menu-btn {
        display: block;
    }
    .contact-container {
        flex-direction: column;
    }
    .contact-container form, .contact-info {
        width: 100%;
    }
}
